<div class="dashboard-container">
  <h1 class="dashboard-title">Dashboard</h1>
  <hr class="dashboard-divider">

  <div class="user-info-container">
    <h3 class="user-info-title">User Information</h3>
    <pre class="user-info">{{ user() | json }}</pre>
  </div>

  <button class="logout-button" (click)="onLogout()">Cerrar Sesión</button>

  <!-- Agrega botones o enlaces para actualizar y eliminar -->
  <button class="update-button" (click)="updateUser()">Actualizar Usuario</button>
  <button class="delete-button" (click)="deleteUser()">Eliminar Usuario</button>
</div>
